/******************************** About Page ******************************************/

.about__container-h1 {
  width: 200px;
  background-color: var(--blue-bg-color);
  margin: auto;
  text-align: center;
  border-radius: 10%;
  opacity: 0.9;
}
.about__container__h1 {
  font-family: "Cinzel Decorative", cursive;
  font-family: "Miss Fajardose", cursive;
  font-family: "Rye", cursive;
  color: rgb(242, 251, 255);
  font-size: 45px;
  margin-bottom: 50px;
}
.about__accordion-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  float: center;
  padding: 50px 0 50px 0;
}

.about__accordion-about {
  justify-content: center;
  text-align: center;
  display: center;
  width: 750px;
  font-family: "Cinzel Decorative", cursive;
  font-family: "Miss Fajardose", cursive;
  font-family: "Rye", cursive;
  font-size: 20px;
}
.about__accordion-body__container-top {
  margin-bottom: 100px;
}
.about__accordion-body__container-bottom {
  margin-bottom: 20px;
}
.about__card-text-degree {
  padding-top: 15px;
}
.about__accordion-body {
  max-width: 750px;
  background-color: var(--blue-bg-color);
  color: rgb(242, 251, 255);
  justify-content: center;
  text-align: center;
  font-family: "PT Sans", sans-serif;
}
.about__accordion-header {
  max-width: 750px;

  background-color: var(--blue-bg-color);
  color: rgb(242, 251, 255);
  justify-content: center;
  text-align: center;
}
.about__accordion-header:hover {
  cursor: pointer;
  background-color: rgb(32, 146, 240);
  transition: background-color 1s, color 1s;
}
.about__accordion-body {
  background-color: var(--light-blue-bg-color);
  color: rgb(25, 25, 44);
}

.about__eduRow {
  justify-content: center;
}

.about__eduCard {
  max-width: 550px;
}

.about__edu-card-body {
  background-color: var(--light-blue-bg-color);
  margin-top: 15px;
  font-family: "PT Sans", sans-serif;
}

.about__fauCard {
  font-family: "Cinzel Decorative", cursive;
  font-family: "Miss Fajardose", cursive;
  font-family: "Rye", cursive;
  font-size: 20px;
  background-color: var(--blue-bg-color);
  color: rgb(242, 251, 255);
  justify-content: center;
  text-align: center;
  margin-bottom: -15px;
}

.__about-cert-card {
  background-color: var(--blue-bg-color);
  color: rgb(242, 251, 255);
  justify-content: center;
  text-align: center;
  font-family: "Cinzel Decorative", cursive;
  font-family: "Miss Fajardose", cursive;
  font-family: "Rye", cursive;
}

.__about-degree-title {
  font-family: "Cinzel Decorative", cursive;
  font-family: "Miss Fajardose", cursive;
  font-family: "Rye", cursive;
}

.__about-fauImg {
  float: right;
}
.about__card-text {
  font-family: cursive, cursive;
}

.certList {
  font-family: "Cinzel Decorative", cursive;
  font-family: "Miss Fajardose", cursive;
  font-family: "Rye", cursive;
}
.__about-cert-name {
  /* max-width: 350px; */
  min-width: 250px;
  text-align: center;
}

.__about-cert-text {
  max-width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
}

.about__certCard {
  margin: 2%;
  background-color: rgb(195, 231, 250);
  margin: 25px 0 25px 0;
}

/* .MyFrame {
  max-width: 600;
  max-height: 500;
} */

.about__cert-body {
  background-color: var(--light-blue-bg-color);
  margin: 25px auto 25px auto;
  padding: 25px 0 25px 0;
}
