.heroes-display__container {
  text-align: center;
  align-items: top;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-columns: 200px, 200px;
}

.heroes-display__h1 {
  font-family: "Permanent Marker", cursive;
  color: rgb(0, 0, 59);
  font-size: 35px;
}

.heroes-display__hero-column {
  background-color: var(--light-blue-bg-color);
  margin: 35px;
  min-width: 350px;
  max-width: 350px;
  min-height: 300px;
  flex: start;
  border-radius: 15px;
}

.heroStrengthDisplay {
  color: lightsteelblue;
  background-color: blue;
  font-size: 20px;
  border-radius: 10px;
}

.heroNameDisplay {
  font-size: 33px;
  font-weight: bold;
  font-family: "Marvel", sans-serif;
}

.heroesImageTitle {
  font-family: "Permanent Marker", cursive;
  color: rgb(0, 0, 59);
  font-size: 32px;
  margin-top: 25px;
}

.heroes-display__hero-column-description {
  width: 91%;
  margin: auto;
}
.heroes-display__hero-column-link-container {
  margin-top: 30px;
}

.heroes-display__remove-button {
  margin: auto;
  display: grid;
  width: 75%;
  border-radius: 15px;
}

@media screen and (max-width: 800px) {
  .heroes-display__container {
    display: block;
  }
}
