/* ****** Background ************* */
.layout__background-sides {
  /* background-color: #295448; */
  background-color: #0e1848;
  padding: 60px 0 60px 0;
}

.layout__background {
  margin: auto;
  width: 1140px;
  height: 600px;
  background-image: url("../media/backgroundDBZ-sm.png");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 15px;
  /* background-attachment: fixed; */
}
.layout__background-solid {
  background-color: #344389;
  /* background-color: #295448; */
  /* padding-top: 0px; */
}

.layout__body {
  padding-top: 5%;
}
