/* ***************** Homepage***************** */

.new-home__links {
  margin-top: 5%;
  width: 100%;
  position: flex;
  text-align: center;
  align-self: center;
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.new-home__button {
  margin: 5px;
}
